<!--The content below is only a placeholder and can be replaced.-->
<div class="app-component" style="text-align:center">
  <h1>
    Welcome to Angular 5 application!
  </h1>
  <div>
    <div>Here is Angular Component</div>
  </div>
  <button class="start-stop-button" (click)="toggleClock()">Start/stop clock in React 16 application</button>
</div>
